.row{
    width: 900px;
    height: 300px;
    left: 400px;
}
img{
    display: flex;
    position: absolute;
    flex-direction: row;
    left: 650px;
    top: 100px;
    width: 500px;
    height: 470px;
    border-radius: 10px;
    
}
nav{
    background-color: rgb(154, 192, 192);
}
@media screen and (max-width: 400px) {
    .class{
        width: 300px;
    }
    img{
        display: none;
    }
    
}